.shop-widget-scroll {
    height: auto;
    width: 200px;
    overflow-y: scroll;
    padding-right: 20px;
}
.abc{
    background: linear-gradient(to left, rgba(6,23,56,0.6), rgba(17,151,68,0.6));
}
.btn{
    color: aquamarine;
    /* background-color: blue;  */
    height: 40px;
    width: 90px;
}
.asdf{
    background-image: url(https://www.westend61.de/images/0000192988pw/various-groceries-on-white-background-MAEF005519.jpg);
    background-size: cover; 
    /* background-color: #e3dbdb; */
    opacity:0.5;
    width: 300px;
  height: 200px;
}
